$clr-not-selected: #8a8a98;
$clr-selected: #f5f5ff;
$background-surface: #0f0f13;
$background-primary: black;

$navbar_height: 90vh; // vh
$navdrawer_width_px: 350px; // px
$navdrawer_minimize_button: 120px;

.main_navdrawer,
.main_navbar {
  background: $background-primary;
  width: $navdrawer_minimize_button;
}

// .main_navdrawer {
//   position: fixed;
//   // top: $navbar_height;
//   width: $navdrawer_minimize_button;
//   height: 100vh;
//   padding-top: $navbar_height;
// }

.navitem_row {
  color: $clr-not-selected;
  &.active {
    color: $clr-selected;
    // background: $background-surface;
  }
}

.navdrawer_item {
  width: 100px;
  // background: black;
  font-size: 1.5em;
  opacity: 0;
}

.nav_drawer_hr {
  border: solid 1px $background-surface;
  width: 90%;
}

.navdrawer_minimize_button {
  color: $clr-not-selected;
  position: absolute;
  top: 1em;
  right: 1em;
  border: solid $clr-not-selected 1px;
  border-radius: 3px;
  padding: 3px;
  display: grid;
  place-items: center;
}

.main_content {
  @supports not (overflow-y: overlay) {
    overflow-y: scroll;
  }

  @supports (overflow-y: overlay) {
    overflow-y: overlay;
    // background: yellow;
  }
}
