$text-primary: rgb(214, 214, 214);
// $primary: #bb86fc;
// $primary-variant: #3700b3;
// $secondary: #03dac5;
// $error: #cf6679;
$surface: #121212;
// $black: #000000;
// $white: #ffffff;

// $nav-link-width: 95px;
// $nav-link-spacing: 10px;

.navdrawer {
  z-index: 10;
  position: fixed;
  // cursor: pointer;
  background: $surface;
  color: $text-primary;
  height: 100vh;
  min-width: 260px;
  top: 0;

  @import '@src/style/breakpoints';
  @media only screen and (max-width: calc(#{$sm} - 1px)) {
    $w: 80vw;
    width: $w;
    left: -$w;
  }
  @media only screen and (min-width: calc(#{$sm})) {
    $w: 50vw;
    width: $w;
    left: -$w;
  }

  .svg {
    position: absolute;
    top: 2rem;
    right: 2rem;
    cursor: pointer;
  }
}

.hide {
  display: none;
}
