@import '@src/style/breakpoints';
.cart {
  $sz: 190px;
  // ============================================

  position: absolute;
  top: 10vh;
  @media only screen and (max-width: calc(#{$xl} - 1px)) {
    left: calc(50% - calc(0.5 * #{$sz}));
  }
  @media only screen and (min-width: calc(#{$xl})) {
    left: 5%;
    width: calc(100% - 2 * 5%);
  }

  ul.cart_items {
    border: solid white 1px;
    margin: 0;
    padding-left: 0;
    overflow-y: scroll;
    @media only screen and (max-width: calc(#{$xl} - 1px)) {
      max-height: 65vh;
    }
    @media only screen and (min-width: calc(#{$xl})) {
      max-height: 400px;
    }

    li.cart_item {
      // margin-bottom: 1rem;
      // border: solid white 1px;
      display: flex;
      // height: 80vh;

      // ------------------------------------------

      @media only screen and (max-width: calc(#{$xl} - 1px)) {
        flex-direction: column;
      }
      @media only screen and (min-width: calc(#{$xl})) {
        flex-direction: row;
      }
      div.col1 {
        height: $sz;
        width: $sz;
        background: red;
        .img {
          // background: deepskyblue;
          // border: solid green 3px;
          background-image: url('/temp/products/Nike_Epic_React_Flyknit_2.jpg');
          background-position: center; /* Center the image */
          background-repeat: no-repeat; /* Do not repeat the image */
          background-size: cover; /* Resize the background image to cover the entire container */
          height: 100%;
          width: 100%;
          border-radius: 5px;
        }
      }
      div.col2 {
        padding: 0.5rem 1.5rem 0rem;

        @media only screen and (max-width: calc(#{$xl} - 1px)) {
        }
        @media only screen and (min-width: calc(#{$xl})) {
          height: $sz;
        }
        min-width: $sz;
        flex-grow: 1;
        // background: green;

        > div.row1,
        > div.row2,
        > div.row3 {
          display: flex;
          align-items: center;
          padding: 0.4rem 0;
        }
        > div.row1 {
          // background: yellow;
          font-size: 1.25rem;
        }

        @media only screen and (max-width: calc(#{$xl} - 1px)) {
          > div.row2 {
            display: none;
          }
          > div.row3 {
            display: none;
          }
        }
        @media only screen and (min-width: calc(#{$xl})) {
          > div.row2 {
            // background: orange;
          }
          > div.row3 {
            // background: yellow;
            flex-grow: 1;
          }
        }
      }
      div.col3 {
        padding: 0rem 1.5rem 0.5rem;
        @media only screen and (max-width: calc(#{$xl} - 1px)) {
          height: 120px;
        }
        @media only screen and (min-width: calc(#{$xl})) {
          height: $sz;
        }
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;

        width: $sz;
        // background: blue;

        div.row1 {
          > label {
            display: flex;
            justify-content: space-evenly;
            > span {
              // flex-grow: 1;
            }
            > input {
              // background: yellow;
              border: solid white 1px;
              border-radius: 5px;
              width: 50px;
            }
          }
        }

        div.row2 {
          // background: green;
          text-align: center;
        }

        div.row3 {
          // background: yellow;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0 1.8rem;
          cursor: pointer;
        }
      }
    }

    .hr {
      width: 80%;
    }
    .hr:last-child {
      display: none;
    }
  }

  // ============================================

  div.place_order_container {
    // border: solid yellow 2px;
    text-align: center;

    div.total {
      margin: 10px 0;
      width: $sz;
    }
    button {
      margin-top: 10px;
    }

    @media only screen and (min-width: calc(#{$lg})) {
      width: fit-content;
      float: right;
    }
  }

  // ============================================
}
