// None	    <576px
$sm: 576px; // sm	      ≥576px
$md: 768px; // md	      ≥768px
$lg: 992px; // lg	      ≥992px
$xl: 1200px; // xl	      ≥1200px
$xxl: 1400px; // xxl	    ≥1400px
$xxxl: 1800px;
$xxxxl: 2200px;
$xxxxxl: 2800px;
$xxxxxxl: 3600px;
// HD:          1920 x 1080
// 2K (WQHD):   2560 x 1400
// 4k (UHD):    3840 × 2160
